[defaults]
inventory = /home/scm/ansible/inventory
remote_user = root
forks = 50
host_key_checking = False
private_key_file = /home/scm/.ssh/id_ed25519
roles_path = /home/scm/ansible/roles:/usr/share/ansible/roles/
collections_paths = /home/scm/ansible/collections

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[privilege_escalation]
become=True
become_method=sudo
become_user=root
bacome_ask_pass=False
